<mat-card class="wrapper">
    <mat-card-header class="header">
        <mat-card-title class="title">Cart Component</mat-card-title>
        <mat-card-subtitle class="sub-title">{{ title }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="content">
        <ng-container *ngIf="isCartFull; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
            <mat-list>
                <mat-list-item>
                    <div class="table-title">
                        <div class="name">Product Name</div>
                        <div class="quantity">Quantity</div>
                        <div class="cost">Cost</div>
                        <div class="controls"></div>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>

                <mat-list-item *ngFor="let product of products; trackBy: trackBy" >
                    <app-cart-item [product]="product" (increase)="onIncrease($event)" (decrease)="onDecrease($event)"></app-cart-item>
                </mat-list-item>

                <mat-list-item>
                    <div class="table-footer">
                        <div>Total</div>
                        <div>{{totalCost | currency}}</div>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>

                <mat-list-item>
                    <div class="table-controls">
                        <button *ngIf="isSomeItemSelected()" mat-raised-button color="warn" (click)="removeSelectedItems()">Remove selected items from cart</button>
                    </div>
                </mat-list-item>
            </mat-list>
        </ng-template>
        <ng-template #elseTemplate>
            <span>There is no items</span>
        </ng-template>


    </mat-card-content>
</mat-card>
