:host {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    width: 100%;
}

.wrapper {
    flex-direction: column;
    flex-basis: 500px;
    margin-top: 20px;
}

.header {
    .title {
        font-size: xx-large;
    }

    .sub-title {
        margin-top: 10px;
        font-size: large;
    }
}

.content {
    padding: 15px;
}

.table-title {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table-footer {
    width: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.table-controls {
    width: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.name,
.quantity,
.cost {
    margin: 0 10px;
    flex-basis: 250px;
    font-weight: bold;
}

.controls {
    flex-basis: 200px;
    display: flex;
    flex-direction: row;
}
