@import '../../cart.styles.scss';

:host {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    width: 100%;
}

.wrapper {
    flex-direction: column;
    margin: $table-margins;
}

.header {
    .title {
        font-size: xx-large;
    }

    .sub-title {
        margin-top: 10px;
        font-size: large;
    }
}

.content {
    padding: 15px;
}

.table-title {
    @include table-row;
}

.table-footer {
    @include table-row;
}

.checkbox {
    @include check-box-cell;
}

.name {
    @include name-cell;
}

.quantity {
    @include quantity-cell;
}

.cost {
    @include cost-cell;
}

.controls {
    @include table-row-controls;
}
