:host {
    display: flex;
    justify-content: flex-start;
    flex-basis: 300px;
    flex-grow: 2;
    margin: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-grow: 2;
    cursor: pointer;
}

.header {
    .title {
        font-size: xx-large;
    }

    .sub-title {
        margin-top: 10px;
        font-size: large;
    }
}

.content {
    margin-top: 20px;
    font-size: medium;
}

.description {
    margin-bottom: 20px;
    display: -webkit-box;

    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

mat-card-actions {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.controls {
    margin-top: auto;
}
