<app-base-page [title]="'Product Details'">
    <div class="wrapper">
        <div class="description" appHighlightOnClick>{{ product.description }}</div>
        <div class="price">Price: {{ product.price | currency }}</div>
        <div class="category">Category: {{ product.category | uppercase }}</div>
        <div class="update-date">Updated: {{ product.updateDate | date:'fullDate' }}</div>
        <div class="availability" [class.not-available]="!product.isAvailable">{{ getAvailabilityTitle() }}</div>
        <span class="colors-header">Colors:</span>
        <ul class="colors">
            <li *ngFor="let color of product.colors" class="color">{{color}}</li>
        </ul>
        <span class="sizes-header">Sizes:</span>
        <ul class="sizes">
            <li *ngFor="let size of product.sizes" class="size">{{size}}</li>
        </ul>
        <div
            [matTooltip]="getAddToCartTooltip()"
        >
            <button
                mat-stroked-button
                *ngIf="product.isAvailable"
                [disabled]="!isLoggedIn"
                (click)="onAddToCart()"
            >Add to Cart</button>
        </div>
    </div>
</app-base-page>
