<div class="wrapper">
    <mat-list>
        <mat-list-item>{{ product.description }}</mat-list-item>
        <mat-list-item>Price: {{ product.price | currency }}</mat-list-item>
        <mat-list-item>Category: {{ product.category | uppercase }}</mat-list-item>
        <mat-list-item>Updated: {{ product.updateDate | date:'fullDate' }}</mat-list-item>
        <mat-list-item [class.not-available]="!product.isAvailable">{{ getAvailabilityTitle() }}</mat-list-item>
    </mat-list>
    <div
        [matTooltip]="getAddToCartTooltip()"
    >
        <button
            mat-raised-button
            color="primary"
            *ngIf="product.isAvailable && !isAdmin"
            [disabled]="!isLoggedIn"
            (click)="onAddToCart()"
        >Add to Cart</button>
    </div>
</div>
