:host {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.wrapper {
    flex-direction: column;
    flex-basis: 330px;
    margin-top: 20px;
}

.header {
    .title {
        font-size: xx-large;
    }

    .sub-title {
        margin-top: 10px;
        font-size: large;
    }
}

.content {
    padding: 15px;
}
