:host {
    height: 100%;
    width: 100%;
}

.wrapper {
    flex-basis: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

nav {
    box-shadow:
        0 3px 5px -1px rgba(0, 0, 0, .2),
        0 6px 10px 0 rgba(0, 0, 0, .14),
        0 1px 18px 0 rgba(0, 0, 0, .12);
}

.additional-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.with-spinner {
    margin-top: -4px;
}
