<app-base-page [header]="(routerData$ |async).label | titlecase" [flexDirection]="FlexDirection.Column">
    <nav
        mat-tab-nav-bar
    >
        <div class="wrapper">
            <div class="nav-tabs">
                <a mat-tab-link
                    *ngFor="let link of adminTabsConfig"
                    [routerLink]="link.path"
                    routerLinkActive #rla="routerLinkActive"
                    [active]="rla.isActive">
                    {{link.label}}
                </a>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</app-base-page>
