<!-- <mat-card class="wrapper" [style.backgroundColor]="'grey'">
    <mat-card-header>
        <mat-card-title>Product List Component</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="1" rowHeight="1:1">
            <mat-grid-tile
              *ngFor="let product of products"
              [colspan]="1"
              [rowspan]="1">
              <app-product [product]="product"></app-product>
          </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card> -->

<mat-card class="wrapper">
    <mat-card-header class="header">
        <mat-card-title class="title">Product List</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <app-product *ngFor="let product of products" [product]="product"></app-product>
    </mat-card-content>
</mat-card>
