:host {
    display: flex;
    justify-content: center;
}

.wrapper {
    flex-direction: column;
    flex-basis: 330px;
    margin-top: 20px;
}

.header {
    .title {
        font-size: xx-large;
    }

    .sub-title {
        margin-top: 10px;
        font-size: large;
    }
}

.content {
    padding: 15px;
}

.description {
    font-size: medium;
}

.price,
.category,
.availability,
.colors-header,
.sizes-header {
    margin-top: 10px;
    font-size: medium;
}

.colors,
.sizes {
    margin: 5px 0;
    font-size: small;
}
