<button
    *ngIf="isAdmin"
    mat-raised-button
    class="add-product"
    color="primary"
    (click)="onAddNewProduct()"
>Add New Product</button>

<div class="products">
    <app-product
        *ngFor="let product of productsState$ | async"
        [product]="product"
        [isLoggedIn]="isLoggedIn"
        [isAdmin]="isAdmin"
        (addToCart)="onAddToCart(product)"
        (removeProduct)="onRemoveProduct(product)"
        (openDetails)="onOpenDetails(product)"
        (editProduct)="onEditProduct(product)"
    ></app-product>
</div>
