<mat-card class="wrapper">
    <mat-card-header class="header">
        <mat-card-title class="title">{{ product.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <div class="description">{{ product.description }}</div>
        <div class="price">Price: {{ product.price }}$</div>
        <div class="category">Category: {{ product.category }}</div>
        <div class="availability">Is Available: {{ product.isAvailable }}</div>
        <span class="colors-header">Available Colors:</span>
        <ul class="colors">
            <li *ngFor="let color of product.colors" class="color">{{color}}</li>
        </ul>
        <span class="sizes-header">Available Sizes:</span>
        <ul class="sizes">
            <li *ngFor="let size of product.sizes" class="size">{{size}}</li>
        </ul>
        <button mat-stroked-button (click)="onBuy()">Buy</button>
    </mat-card-content>
</mat-card>
