:host {
    display: flex;
    justify-content: flex-start;
    flex-basis: 300px;
    flex-grow: 2;
    margin: 10px;
}

.wrapper {
    flex-basis: 300px;
    flex-grow: 2;
}

.header {
    .title {
        font-size: xx-large;
    }

    .sub-title {
        margin-top: 10px;
        font-size: large;
    }
}

.content {
    padding: 15px;
}

.description {
    font-size: medium;
}

.price,
.category,
.availability,
.colors-header,
.sizes-header,
.update-date {
    margin-top: 10px;
    font-size: medium;
}

.not-available {
    color: red;
}

.colors,
.sizes {
    margin: 5px 0;
    font-size: small;
}
