<mat-card class="wrapper">
    <mat-card-header class="header">
        <mat-card-title class="title">{{ product.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <div class="description" appHighlightOnClick>{{ product.description }}</div>
        <div class="price">Price: {{ product.price | currency }}</div>
        <div class="controls">
            <div
                [matTooltip]="getAddToCartTooltip()"
            >
                <button
                    mat-stroked-button
                    *ngIf="product.isAvailable"
                    [disabled]="!isLoggedIn"
                    (click)="onAddToCart()"
                >Add to Cart</button>
            </div>
            <button mat-flat-button color="primary" (click)="onOpenProductDetails(product)">See details</button>
        </div>
    </mat-card-content>
</mat-card>
